@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  font-weight: 500;
  background-color: #001848;
}

.container {
  background-color: #efc100;
  width: 70%;
  height: 40.2rem;
  margin: auto;
  margin-block: 30px;
  display: flex;
  border-radius: 10px;
}

.profile-card {
  padding: 100px;
  margin-top: 50px;
}
.name {
  font-size: 40px;
}
.title-city {
  display: flex;
  color: #013b7f;
  margin-bottom: 20px;
}
.title-city .title {
  margin-right: 20px;
}
.profile-card .bio {
  width: 30rem;
  margin-bottom: 20px;
}
.social-links {
  margin-bottom: 10px;
}
.social-links img {
  margin-right: 15px;
  border: 1px solid #001848;
  border-radius: 40%;
  padding: 10px;
}
.social-links img:hover {
  background-color: aliceblue;
  transition: 0.5s ease;
}
.profile-image {
  z-index: 10;
  margin-left: -60px;
}
.shape {
  position: absolute;
  width: 30rem;
  right: 15rem;
}
.profile-card button {
  background: none;
  padding: 16px;
  border: 1px solid #013b7f;
  border-radius: 10px;
  color: #013b7f;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profile-card button:hover {
  border: none;
  background-color: #6caaf1;
  border: 1px solid #6caaf1;
  color: #001848;
  transition: 1s ease;
}

.date-time {
  background-color: #1c73d7;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 53%;
}
.utc-time {
    font-size: 14px;
}